# Redirect root to /en/index.html
#RedirectMatch ^/$ /en/index.html

Redirect /reference/index.html /specification/reference/index.html
Redirect /es/reference/ /es/specification/reference/
Redirect /fr/reference/ /fr/specification/reference/
Redirect /learn/guide /guide
Redirect /fr/learn/guide /fr/guide
Redirect /es/learn/guide /es/guide
Redirect /learn/data-policy/ /specification/data-policy/
Redirect /es/learn/data-policy/ /es/specification/data-policy/
Redirect /fr/learn/data-policy/ /fr/specification/data-policy/