Redirect /reference/ /documentation/reference/
Redirect /es/reference/ /es/documentation/reference/
Redirect /fr/reference/ /fr/documentation/reference/

Redirect /specification/ /documentation/
Redirect /fr/specification/ /fr/documentation/
Redirect /es/specification/ /es/documentation/

Redirect /learn/guide /get-started/
Redirect /fr/learn/guide /fr/get-started/
Redirect /es/learn/guide /es/get-started/

Redirect /guide/ /get-started/
Redirect /fr/guide/ /fr/get-started/
Redirect /es/guide/ /es/get-started/

Redirect /learn/data-policy/ /documentation/data-policy/
Redirect /es/learn/data-policy/ /es/documentation/data-policy/
Redirect /fr/learn/data-policy/ /fr/documentation/data-policy/
