/* logo placement */
#logo_light_mode {
  display: var(--md-footer-logo-light-mode);
}
#logo_dark_mode {
  display: var(--md-footer-logo-dark-mode);
}

/* default theme overrides */
[data-md-color-scheme="default"] {
  --md-footer-logo-dark-mode: none;
  --md-footer-logo-light-mode: block;
  --md-default-bg-color: #fff;
  /* --md-accent-fg-color: #3294d4; */
  /* --md-primary-bg-color: #f8f8f8; */
  --md-primary-fg-color: #fff;
  --md-footer-bg-color--dark: var(--md-primary-fg-color);
  --md-footer-fg-color: var(--md-typeset-color);
  /* --md-footer-fg-color--lighter: red; */
  --md-footer-fg-color--light: var(--md-primary-bg-color--light);
  --md-typeset-a-color: var(--md-accent-fg-color);
  --md-code-bg-color: #f5f5f5;
  }
[data-md-color-scheme="default"] tr:hover {
  background-color: #f5f5f5 !important;
  }
  
/* slate theme overrides */
[data-md-color-scheme="slate"] {
  --md-footer-logo-dark-mode: block;
  --md-footer-logo-light-mode: none;
  --md-accent-fg-color: #96a1ff;
  --md-primary-fg-color: #2e303e;
  --md-footer-bg-color--dark: #2e303e;
  --md-typeset-a-color: var(--md-accent-fg-color);
  }
[data-md-color-scheme="slate"] table {
  background-color: var(--md-code-bg-color) !important; 
  }
  
  
/* table font size */
th, td {
  font-size: 122%;
}

/* table wrapping */
td:nth-child(1) {
  white-space: nowrap;
}

/* hide edit content button */
.md-content__button {
  display: none;
}

div.md-content a:hover {
  text-decoration: underline;
}

.md-typeset h1 {
  font-size: 190%;
  color: var(--md-typeset-color);
}

.md-ellipsis {
  font-weight: normal;
}

a.footer-link:not(:hover) {
  opacity: 56%;
  transition: 0.15s;
}
a.footer-link:hover {
  transition: 0.15s;
}

div.md-footer-copyright {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1em;
  font-size: 48%;
}

c {
  opacity: 56%; 
}

table, th, td {
  border-left: none !important;
  border-right: none !important;
}

.md-nav__list {
  font-size: 99%;
}

h1, h2, h3 {
  font-weight: normal !important;
}

.md-typeset {
  line-height: 1.5;
  font-size: 165%;
}