{% import "partials/language.html" as lang with context %}
<footer class="md-footer">
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      <div class="md-footer-copyright">
        {% if config.copyright %}
          <div class="md-footer-copyright__highlight">
            {{ config.copyright }}
          </div>
        {% endif %}
        <c>Platform maintained by </c>
        <a class="footer-link" href="https://mobilitydata.org/" target="_blank" rel="noopener">
          <img src="https://raw.githubusercontent.com/MobilityData/gbfs.org/master/theme_overrides/partials/md-black.png?token=APAKORF6ORSJEAOQULIAS5DB4B3KM#only-light" width=100em style="vertical-align:middle" style="float:left">
          <img src="https://raw.githubusercontent.com/MobilityData/gbfs.org/master/theme_overrides/partials/md-white.png?token=APAKORHAC324XGTIQUDWFA3B4B3NG#only-dark" width=100em style="vertical-align:middle" style="float:left">
        </a>
        {{ extracopyright }}
      </div>
      {% include "partials/social.html" %}
    </div>
  </div>
</footer>